BOT_TOKEN=your_bot_token_here
VERIFIED_ROLE_ID=000000000000000000
DISCORD_SERVER_ID=000000000000000000
LOG_CHANNEL_ID=000000000000000000

POSTGRES_DB=study_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pass
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

DATABASE_URL=postgresql://postgres_user:postgres_pass@postgres:5432/study_db